<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DIET NANDED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-slides pager="true" [options]="slideOpts" autoplay="1000" loop="true">
      <ion-slide>
        <img src="assets/img/diet003.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/img/diet004.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/img/diet002.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/img/diet001.jpg" />
      </ion-slide>
    </ion-slides>
  </div>
  <div style="padding: 5px;margin:10px;border: 1px solid gray;">

    <h4 class="text-white bg-primary text-center">WELCOME TO DIET NANDED</h4>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <img src="assets/img/priniciapl.jpg" />
        </ion-col>
        <ion-col size="6">
          <h5 class="text-center text-danger">डॉ. रवींद्र अंबेकर</h5>
          <hr>
          <p class="text-center text-muted">प्राचार्य</p>
          <p class="text-center text-dark">जिल्हा शिक्षण व प्रशिक्षण संस्था , नांदेड</p>
        </ion-col>

      </ion-row>
    </ion-grid>
    <hr>

    <h4 class="text-white bg-secondary text-center">OUR VISION</h4>

    <p class="welcome">आवश्यक कौशल्याचा विद्यार्थ्यांच्या अंगी विकास होण्यासाठी अध्ययन निष्पत्तीनूसार प्रत्येक शाळांमधून
      अध्ययन अध्यापनाची दिशा
      निश्चित करणे व त्यासाठी शैक्षणिक सहकार्य देणे.
    </p>
    <h4 class="text-white bg-success text-center">OUR MISSION</h4>

    <p class="welcome">नांदेड जिल्ह्यातील प्रत्येक विद्यार्थ्यांला २१ व्या शतकात आवश्यक कौशल्ये प्राप्त करुन देण्यासाठी
      शैक्षणिक सहाय्य करणे व
      पुढिल उज्वल भविष्यासाठी एक सुजान नागरीक तयार करणे.
    </p>

  </div>
</ion-content>