<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> संपर्क</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <address>
          <h4 class="text-primary text-center">पत्ता</h4>
          <hr>
          <div class="img-thumbnail " style="margin:10px; padding:20px">
            <b class="text-danger">प्राचार्य,</b><br>
            जिल्हा शैक्षणिक सातत्यपूर्ण व्यावसायिक विकास संस्था<br>
            श्री नगर ,<br>
            नांदेड <br>
            तालुका  : नांदेड जिल्हा : नांदेड 431605<br>
            दुरध्वनी क्रमांक : 02462-269600, 254487<br>
            ई-मेल:- diecpdnanded@maa.ac.in<br>
            Website:- http://www.diecpdnanded.in<br>
          </div>
        </address>
        <hr>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


